<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userDefault}">
<head>
  <title>Tour Free Bootstrap Template for Travel Agency by Untree.co</title>
</head>

<body>
  <div layout:fragment="content">
    <style>
      .product-shop::before{
        display: inline-block;
        width: 1px;
        height: 9px;
        margin: 2px 6px 0;
        background-color: #d7d7d7;
        vertical-align: top;
        content: "";
      }

      .shop-table th:first-child{
        border-left: 1px solid #eaebec;
        padding-left: 15px;
        text-align: left;
      }

      .shop-table th{
        position: relative;
        height: 35px;
        border-bottom: 1px solid #eaebec;
        background-color: #f7f8f9;
        font-weight: 400;
        color: #666;
      }

      .shop-table th:last-child{
        border-right: 1px solid #eaebec;
      }

      th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
        unicode-bidi: isolate;
      }
    </style>
    <div class="untree_co-section">
      <div class="container">
          <div style="width: 940px; margin: 0 auto; padding-bottom: 65px;">
            <div class="mt-4">
              <div style="width: 940px; padding-bottom: 40px;">
                <div class="row" style="padding-top: 45px;">
                  <div style="width: 390px;">
                    <div style="overflow: hidden; width: 388px; height: 388px; border: 1px solid #e8eaee; text-align: center; vertical-align: middle;">
                      <div style="height: 100%; font-size: 0; line-height: 0; vertical-align: top;">
                        <img style="max-width: 100%; max-height: 100%; vertical-align: middle;" th:src="${product.productImages[0].saveImgUrl}" alt="상품이미지">
                      </div>
                    </div>
                  </div> <!-- 상품 이미지 영역 -->
                  <input type="hidden" id="productNo" th:value="${product.productNo}">
                  <div class="ml-5" style="width: 520px;">
                    <div style="padding-bottom: 28px;">
                      <h2 style="font-family: NanumGothic, sans-serif;font-size: 24px; line-height: 32px; font-weight: 700; word-break: break-all;" th:text="${product.productName}">복순도가 찹쌀탁주 9도</h2>
                      <div class="text-right" style="overflow: hidden; font-family: NanumGothic, sans-serif; text-overflow: ellipsis; white-space: nowrap; display: block; font-size: 22px; font-weight: 700; line-height: 40px; color: #d40022;" th:text="|${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}원|">
                      </div><!-- 최저 가격 정보-->
                    </div> <!-- 가격 정보 영역-->
                    <input type="hidden" id="productPrice" name="productPrice" th:value="${product.productPrice}">
                    <div style="margin: -5px 0 28px; padding: 10px 0 12px; border: 1px solid #e9edf0; background-color: #fafbfc; font-size: 11px; line-height: 18px; color: #444; letter-spacing: -.5px; text-align: center;">
                      <strong style="background-image: url(https://ssl.pstatic.net/shoppingsearch/static/pc/pc-240813-151706/img/sprite/png/spCatalog.png); background-size: 357px 333px; background-position: 0 -92px; width: 203px; height: 21px; overflow: hidden; white-space: nowrap; text-indent: 100%; display: block; margin: 0 auto 4px;">
                        19금 주류의 통신판매에 관한 명령위임고시
                      </strong>
                      관계법령에 따라 미성년자는 구매할 수 없으며, 19세 이상 성인인증을 하셔야 구매가능한 상품입니다.
                    </div> <!-- 주류 구매 경고 메세지  -->
                    <div class="mt-4">
                      수량 : <input class="text-center" type="number" id="quantity" value="1" min="1" onclick="sumPrice();" onkeyup="sumPrice();">
                    </div>
                    <div class="mt-4">
                      <div style="overflow: hidden; font-family: NanumGothic, sans-serif; text-overflow: ellipsis; white-space: nowrap; display: block; font-size: 22px; font-weight: 700; line-height: 40px; color: #d40022;">
                        <strong style="color: black; text-align: left">총 상품 금액</strong>
                        <div style="float: right" id="result" th:text="|${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}원|">4,100원</div>
                        <input type="hidden" id="totalPrice" th:value="${product.productPrice}">
                      </div>
                    </div>
                    <div class="mt-4 align-content-center">
                      <button type="button" class="btn btn-primary btn-lg btn-block" onclick="addCart();">장바구니</button>
                    </div>
                  </div> <!-- 상품정보 -->
                </div>
              </div><!-- 상품 판매정보 -->
              <div style="width: 940px;">
                <div style="position: relative;">
                  <h3 style="border-top: 2px solid #000; padding-top: 47px; font-size: 24px; font-family: helvetica, Arial, NanumGothic, sans-serif; font-weight: 700;">제품정보</h3>
                </div> <!-- 제목 부분 -->
                <div style="padding-top: 50px;">
                  <div style="overflow: hidden; padding: 0 0 15px;">
                    <div style="overflow: hidden; width: 940px; margin: 0 auto; text-align: center;" th:utext="${product.productDescription}"></div>
                  </div>
                </div> <!-- 상세 이미지 -->
              </div> <!-- 상세정보 -->
            </div><!-- 상품정보(상세포함) -->
        </div>
      </div>
    </div>
    <script>
      function sumPrice(){
        let price = document.getElementById("productPrice").value;
        let amount = document.getElementById("quantity").value;
        document.getElementById('result').innerText = (price*amount).toLocaleString('ko-KR')+'원';
        document.getElementById('totalPrice').value=price*amount;
      }


      function addCart(){

        let isLogin = [[${isLogin}]];
        if(isLogin === false){
          if(confirm("로그인이 필요한 서비스입니다. 로그인페이지로 이동하시겠습니까?")){
            window.location.href='/login';
          }
        }
        let productNo = $('#productNo').val();
        let totalPrice = $('#totalPrice').val();
        let quantity = $('#quantity').val();
        console.log(productNo);
        $.ajax({
          method:"post",
          url:'/product/addCart',
          data:{
            "productNo": productNo,
            "totalPrice" : totalPrice,
            "quantity" : quantity
          },
          success:function (result) {
            if(result === 'success' ){
              if(confirm("장바구니로 이동하시겠습니까?")){
                window.location.href='/orders/cart';
              }
            }
          },
          error:function () {
            alert("동작중 오류 발생");
            document.getElementById('checkFlg').value=false;
          }
        });
      }
    </script>
  </div>

</body>

</html>
