<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/adminDefault}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <div class="content">
                <div class="card card-default">
                    <div class="card-header">
                        <h2> 상품 상세정보 </h2>
                    </div>
                    <div class="card-body">
                        <form action="/product/regist" method="post" enctype="multipart/form-data" onsubmit="return checkValidate()">
                            <table class="table table-bordered">
                                <tr>
                                    <th colspan="2">표시설정</th>
                                </tr>
                                <tr>
                                    <th>진열상태</th>
                                    <td>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="displayY" name="displayYn" value="Y" class="custom-control-input" th:checked="${product.displayYn == 'Y'}">
                                            <label class="custom-control-label" for="displayY">진열함</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="displayN" name="displayYn" value="N" class="custom-control-input" th:checked="${product.displayYn == 'N'}">
                                            <label class="custom-control-label" for="displayN">진열안함</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>판매상태</th>
                                    <td>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="sellY" name="sellYn" value="Y" class="custom-control-input" th:checked="${product.sellYn == 'Y'}">
                                            <label class="custom-control-label" for="sellY">판매함</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="sellN" name="sellYn" value="N" class="custom-control-input" th:checked="${product.sellYn == 'N'}">
                                            <label class="custom-control-label" for="sellN">판매안함</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>카테고리</th>
                                    <td>
                                        <select class="form-control" name="productCategory" id="productCategory">
                                            <option value="">카테고리를 선택해주세요</option>
                                            <option th:each="category : ${productCategory}" th:text="${category.getValue()}" th:value="${category}" th:selected="${product.productCategory == category}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                   <th colspan="2">기본정보</th>
                                </tr>
                                <tr>
                                    <th>상품명</th>
                                    <td><input type="text" class="form-control" name="productName" id="productName" th:value="${product.productName }"></td>
                                </tr>
                                <tr>
                                    <th>상품 간략설명</th>
                                    <td><textarea class="form-control" rows="3" name="productSummary" th:text="${product.productSummary}"></textarea></td>
                                </tr>
                                <tr>
                                    <th>상품상세 설명</th>
                                    <td>
                                        <div id="summernote" th:if="${product.productDescription == null}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>검색어설정(해시태그)</th>
                                    <td><textarea class="form-control" rows="3" name="productHashTag" th:text="${product.productHashTag}"></textarea></td>
                                </tr>
                                <tr>
                                    <th colspan="2">판매정보</th>
                                </tr>
                                <tr>
                                    <th>판매가</th>
                                    <td><input type="number" class="form-control" min="1000" name="productPrice" th:value="${product.productPrice}"></td>
                                </tr>
                                <tr>
                                    <th>재고수</th>
                                    <td><input type="number" class="form-control" min="1" name="productStock" th:value="${product.productStock}"></td>
                                </tr>
                                <tr>
                                    <th colspan="2">이미지정보</th>
                                </tr>
                                <tr>
                                    <th>대표이미지</th>
                                    <td>
                                        <input type="file" class="form-control-file" id="productImage" name="image">
                                    </td>
                                </tr>
                            </table>
                            <div class="form-footer mt-6 float-right">
                                <button type="submit" class="btn btn-primary btn-pill">상품등록</button>
                                <button type="button" onclick="window.location.href='/product/list'" class="btn btn-light btn-pill">목록으로</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function checkValidate(){

                // 상품카테고리
                const productCategory = $("#productCategory option:selected").val();
                if(productCategory === ''){
                    alert('상품카테고리를 선택해주세요.');
                    $('#productCategory').focus();
                    return false;
                }
                //상품명
                const productName = $('#productName').val();
                if(productName === ''){
                    alert('상품명을 입력해주세요.');
                    $('#productName').focus();
                    return false;
                }
                //상품 간략설명
                const productSummary= $('#productSummary').val();
                if(productSummary === ''){
                    alert('간략설명을 입력해주세요.');
                    $('#productSummary').focus();
                    return false;
                }
                //상품 상세설명
                const productDescription = $('#summernote').summernote('code');
                if(productDescription === '<p><br></p>'){
                    alert('상품설명을 입력해주세요.');
                    return false;
                }else{
                    $('#productDescription').val(productDescription);
                }
                //상품 검색 해시태그
                // const searchHashTage= $('#productHashTag').val();

                //상품가격
                const productPrice = $('#productPrice').val();
                if(productPrice ===''){
                    alert('상품가격을 입력해주세요.');
                    return false;
                }
                if(productPrice < 1000){
                    alert('상품의 최소가격은 1000원입니다.');
                    return false;
                }
                //상품이미지
                const productImage = $('#productImage').val();
                if(productImage === ''){
                    alert("상품 썸네일을 등록해주세요");
                    return false;
                }

                return true;
            }
        </script>
    </div>
</body>
</html>