<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/adminDefault}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="content">
            <div class="row">

                <!-- First box -->
                <div class="col-xl-3 col-md-6">
                    <div class="card card-default">
                        <div class="d-flex p-5 align-items-center flex-column">
                            <div class="icon-md bg-secondary rounded-circle mb-2">
                                <i class="mdi mdi-account-plus-outline"></i>
                            </div>
                            <div class="text-center">
                                <span class="h2 d-block" th:text="${statusList[0].statusCount}">890</span>
                                <p>결제완료</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second box -->
                <div class="col-xl-3 col-md-6">
                    <div class="card card-default">
                        <div class="d-flex p-5 align-items-center flex-column">
                            <div class="icon-md bg-success rounded-circle mb-2">
                                <i class="mdi mdi-table-edit"></i>
                            </div>
                            <div class="text-center">
                                <span class="h2 d-block" th:text="${statusList[1].statusCount}">350</span>
                                <p>배송준비</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third box -->
                <div class="col-xl-3 col-md-6">
                    <div class="card card-default">
                        <div class="d-flex p-5 align-items-center flex-column">
                            <div class="icon-md bg-primary rounded-circle mb-2">
                                <i class="mdi mdi-content-save-edit-outline"></i>
                            </div>
                            <div class="text-center">
                                <span class="h2 d-block" th:text="${statusList[2].statusCount}">1360</span>
                                <p>구매확정</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fourth box -->
                <div class="col-xl-3 col-md-6">
                    <div class="card card-default">
                        <div class="d-flex p-5 align-items-center flex-column">
                            <div class="icon-md bg-info rounded-circle mb-2">
                                <i class="mdi mdi-bell"></i>
                            </div>
                            <div class="text-center">
                                <span class="h2 d-block" th:text="${statusList[3].statusCount}">$8930</span>
                                <p>환불중</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>