<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/mypageDefault}">
<head>
  <title>리뷰 등록화면</title>
</head>

<body>
  <div layout:fragment="content">
      <div class="content">
        <div class="row border mb-4">
          <img class="m-3" th:src="${review.productDTO.productImages[0].saveImgUrl}" style="width: 10%;" alt="상품 이미지">
          <div class="m-3">
            <p class="card-text mt-3" th:text="${review.productDTO.sellerInfo.sellerInfo.businessName}">상품옵션(수량)</p>
            <h5 class="card-title" th:text="${review.productDTO.productName}"> 상품명</h5>
          </div>
        </div>
          <div th:utext="${review.reviewContent}"></div>
          <div class="mt-4 d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-primary" th:if="${#temporals.format(review.createDate.plusDays(3), 'yyyy-MM-dd')} >= ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"  th:onclick="'location.href=\'' + @{/review/update/}+${review.reviewId} + '\''">수정하기</button>
            <button type="button" class="btn btn-lg btn-secondary" onclick="location.href='/review/list'">목록</button>
          </div>
      </div>

  </div>
</body>
</html>
