<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/mypageDefault}">
<head>
  <title>임시 주문리스트</title>
</head>

<body>

<div layout:fragment="content">
  <div class="content">
    <div class="card mb-2" th:each="review : ${reviewList}">
      <div class="card-body">
        <div class="row">
          <img class="ml-2" th:src="${review.productDTO.productImages[0].saveImgUrl}" style="width: 10%;">
          <div class="col align-content-center">
            <p class="card-text" th:text="${review.sellerInfo.sellerInfo.businessName}">상품옵션(수량)</p>
            <h5 class="card-title" th:text="${review.productDTO.productName}">리뷰 작성한 상품명</h5>
          </div>
          <div class="m-auto">
            <button class="btn btn-outline-primary" th:onclick="'location.href=\'' + @{/review/detail/}+${review.reviewId} + '\''">상세보기</button>
            <button class="btn btn-outline-danger" th:if="${#temporals.format(review.createDate.plusDays(3), 'yyyy-MM-dd')} >= ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}" th:onclick="deleteReview([[${review.reviewId}]])">삭제하기</button>
          </div>

        </div>
      </div>

    </div>
  </div>
  <script>
    function deleteReview(reviewId){
      if(confirm("선택하신 리뷰를 삭제하시겠습니까?")){
        $.ajax({
          url: "/review/delete/"+reviewId,
          data: {
            "reviewId": reviewId
          },
          type: "delete",
          success: function(data){
            if(data === 'success'){
              alert("선택하신 리뷰가 삭제되었습니다.");
              location.reload();
            }else{
              alert("선택하신 리뷰삭제중 문제가발생했습니다.\n다시 시도해주세요");
            }
          },error: function (error){
            alert("선택하신 리뷰삭제중 문제가발생했습니다.\n다시 시도해주세요");
          }
        });
      }

    }
  </script>
</div>
</body>

</html>
