<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userDefault}">
<head>
  <title>임시 주문리스트</title>
</head>

<body>

<div layout:fragment="content">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">OrderList</h1>
            <p class="text-white">주문한 상품목록</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="untree_co-section">
    <div class="container">
      <div class="card">
        <div class="card-header"> 주문번호 </div>
        <div class="card-body">
          <div class="row m-3">
            <img class="m-3" src="/user/images/default-profile.png" style="width: 10%;">
            <div class="m-3">
              <h5 class="card-title mt-3"> 상품명</h5>
              <p class="card-text">상품옵션(수량)</p>
            </div>
            <div class="m-3">
              <button type="button" class="btn btn-primary" onclick="location.href='/review/regist'">리뷰작성</button>
            </div>
          </div>
          <hr>
          <div class="row m-3">
            <img class="m-3" src="/user/images/default-profile.png" style="width: 10%;">
            <div class="m-3">
              <h5 class="card-title mt-3"> 상품명</h5>
              <p class="card-text">상품옵션(수량)</p>
            </div>
            <div class="m-3">
              <button type="button" class="btn btn-primary" onclick="location.href='/review/regist'">리뷰작성</button>
            </div>
          </div>
          <hr>
          <div class="row m-3">
            <img class="m-3" src="/user/images/default-profile.png" style="width: 10%;">
            <div class="m-3">
              <h5 class="card-title mt-3"> 상품명</h5>
              <p class="card-text">상품옵션(수량)</p>
            </div>
            <div class="m-3">
              <button type="button" class="btn btn-primary" onclick="location.href='/review/regist'">리뷰작성</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

</body>

</html>
