<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/mypageDefault}">
<head>
  <title>리뷰 등록화면</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="content">
      <div class="row border mb-4">
        <img class="m-3" th:src="${product.productImages[0].saveImgUrl}" style="width: 10%;" alt="상품 이미지">
        <div class="m-3">
          <p class="card-text" th:text="${product.sellerInfo.sellerInfo.businessName}">상품옵션(수량)</p>
          <h5 class="card-title mt-3" th:text="${product.productName}"> 상품명</h5>
        </div>
      </div>

      <form action="/review/regist" method="post" onsubmit="return checkReview();">
        <input type="hidden" name="productNo" th:value="${product.productNo}">
        <input type="hidden" name="orderNo" th:value="${order.orderCode}">
        <div id="summernote"></div>
        <input type="hidden" id="reviewContent" name="reviewContent"/>
        <div class="mt-4 d-flex justify-content-center">
          <button type="submit" class="btn btn-lg btn-primary">등록</button>
          <button type="button" class="btn btn-lg btn-secondary" onclick="location.href='/review/orderList'">목록</button>
        </div>
      </form>
    </div>

    <script>
      function checkReview(){
        //리뷰내용
        const reviewContent = $('#summernote').summernote('code');
        if(reviewContent === '<p><br></p>'){
          alert('리뷰내용을 입력해주세요.');
          return false;
        }else{
          $('#reviewContent').val(reviewContent);
        }
        return true;
      }
    </script>
  </div>
</body>
</html>
