<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.sulbao.member.model.mapper.MemberMapper">

    <resultMap id="memberDTO" type="com.finalproject.sulbao.member.model.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="address" column="ADDRESS"/>
        <result property="enrollDate" column="ENROLL_DATE"/>
        <result property="memberRole" column="MEMBER_ROLE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
    </resultMap>

    <select id="login" resultMap="memberDTO">
        SELECT
            MEMBER_ID
            ,MEMBER_PWD
            ,NICKNAME
        FROM
            tbl_member_test
        WHERE
            MEMBER_ID = #{memberId}
            AND MEMBER_PWD = #{memberPwd}
    </select>

    <select id="checkAccount" parameterType="String" resultMap="memberDTO">
        SELECT
            MEMBER_ID
            ,MEMBER_PWD
            ,NICKNAME
        FROM
            tbl_member_test
        WHERE
            MEMBER_ID = #{inputData}
    </select>
</mapper>