<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{common/layouts/userDefault}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>술포스트</title>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link href="/board/css/zzanpost.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">술 포스트</h1>
                        <p class="text-white">
                            술 포스트는 술에 대한 모든 것을 다룹니다.<br>
                            술의 역사, 문화, 맛, 그리고 다양한 이야기를 만나보세요.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-container">
        <div class="post-title" th:text="${postDto.title}"></div>

        <div class="post-meta">
            <!--            <img alt="작성자 프로필 사진" th:src="@{|${postDto.userDto.profileImageFileName}|}">-->
            <img alt="작성자 프로필 사진"
                 src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_user_profile_user_icon_user_thump_icon_149321.png">
            <div class="username" th:text="${postDto.userDto.getProfileName()}"></div>
            <div class="edit-buttons" th:if="${userDto.id == postDto.userDto.id}">
                <button>수정</button>
                <button onclick="deletePost()">삭제</button>
            </div>
        </div>

        <div class="post-content">
            <div id="editor-content" th:utext="${postDto.content}">
            </div>

            <div class="recommendation-section">
                <div class="recommend-container">
                    <button class="recommend-button">
                        <img alt="thumbs up" class="thumbs-up" src="https://i.ibb.co/kQbYDQ0/thumbs-up.png"
                             th:if="${!isLiked}">
                        <img alt="thumbs up" class="thumbs-up" src="https://i.ibb.co/j6jhNYX/thumbs-up-color.png"
                             th:if="${isLiked}">

                    </button>
                    <span class="recommend-count" th:text="${postDto.like}"></span>
                </div>
            </div>
        </div>

        <div class="comments-section">
            <div class="comments-count">댓글 <span th:text="${commentDtoList.size()}"></span></div>

            <div class="comment-input">
                <img alt="default profile"
                     src="http://eenl.skku.edu/data/file/sub3_3/1_copy1_27_1938934806_sO5V0cdX_9024501a0743b144154990f827e4912cad1daca1.png">
                <input id="commentContent" placeholder="댓글을 입력하세요" type="text">
                <button onclick="saveComment()" type="submit">입력</button>
            </div>

            <div class="comment" th:each="commentDto : ${commentDtoList}">
                <!--                <img alt="comment writer's profile image" th:src="@{${commentDto.userDto.profileImageFileName}}">-->
                <img alt="comment writer's profile image"
                     src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_user_profile_user_icon_user_thump_icon_149317.png">
                <div class="comment-content">
                    <div class="username" th:text="${commentDto.userDto.profileName}"></div>
                    <div th:text="${commentDto.content}"></div>
                    <div class="timestamp" th:text="${commentDto.createdAt}"></div>
                </div>
                <div class="edit-buttons" th:if="${userDto.id == commentDto.userDto.id}">
                    <button>수정</button>
                    <button onclick="deleteComment(this)" th:data-id="${commentDto.id}">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const recommendButton = document.querySelector('.recommend-button');
            const recommendImg = document.querySelector('.recommend-button img');
            const defaultImageUrl = 'https://i.ibb.co/kQbYDQ0/thumbs-up.png';
            const activeImageUrl = 'https://i.ibb.co/j6jhNYX/thumbs-up-color.png';
            let flag = [[${isLiked}]];

            recommendButton.addEventListener('click', function () {
                updateLike();
                setTimeout(() => {
                    recommendImg.src = (flag ? defaultImageUrl : activeImageUrl);
                    flag = !flag;
                }, 300);
            });
        });

        function deletePost() {
            if (confirm('정말로 이 게시글을 삭제하시겠습니까?')) {
                $.ajax({
                    url: `/zzanposts/${[[${postDto.id}]]}`,
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function (response) {
                        alert('게시글이 삭제되었습니다.');
                        location.href = '/zzanposts';
                    },
                    error: function (xhr, status, error) {
                        alert('삭제 중 오류가 발생했습니다.');
                    }
                });
            }
        }

        function deleteComment(button) {
            const commentId = button.getAttribute('data-id');

            if (confirm('정말로 이 댓글을 삭제하시겠습니까?')) {
                $.ajax({
                    url: `/comments/${commentId}`,
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function (response) {
                        alert('게시글이 삭제되었습니다.');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert('삭제 중 오류가 발생했습니다.');
                    }
                });
            }
        }

        function saveComment() {
            $.ajax({
                url: `/comments`,
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {
                    content: $('#commentContent').val(),
                    userId: [[${userDto.id}]],
                    postId: [[${postDto.id}]]
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                }
            });
        }

        function updateLike() {
            let userDto = [[${userDto}]];
            let postDto = [[${postDto}]];

            if (userDto.id === postDto.userDto.id) {
                alert('자신이 작성한 게시글은 추천할 수 없습니다.');
                return;
            }

            $.ajax({
                url: '/likes',
                type: 'GET',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {
                    postId: postDto.id,
                    userId: userDto.id
                },
                success: function (isLiked) {
                    const recommendCount = $('.recommend-count');
                    if (isLiked) {
                        removeLike(postDto, userDto);
                        recommendCount.text(parseInt(recommendCount.text()) - 1);
                    } else {
                        saveLike(postDto, userDto);
                        recommendCount.text(parseInt(recommendCount.text()) + 1);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function removeLike(postDto, userDto) {
            $.ajax({
                url: '/likes',
                method: 'DELETE',
                data: {
                    postId: postDto.id,
                    userId: userDto.id
                },
                success: function (response) {

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function saveLike(postDto, userDto) {
            $.ajax({
                url: '/likes',
                method: 'POST',
                data: {
                    postId: postDto.id,
                    userId: userDto.id
                },
                success: function (response) {

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }


    </script>
</div>
</body>
</html>