<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>default</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <!--    <link rel="shortcut icon" href="#">-->

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/user/css/bootstrap.min.css">
  <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/user/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/user/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/user/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/user/css/daterangepicker.css">
  <link rel="stylesheet" href="/user/css/aos.css">
  <link rel="stylesheet" href="/user/css/style.css">
  <link rel="stylesheet" href="/user/css/main-style.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <style>
    body {
      font-family: 'Noto Sans KR', sans-serif;
      color: #333;
    }

    .banner {
      height: 450px;
      background-image: url('https://via.placeholder.com/1920x450');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    }

  </style>
</head>
<body>

  <!-- 배너 섹션 -->
  <div class="banner"></div>
  <div class="untree_co-section">
    <div class="container">
      <div class="text-center">
        <p style="margin-bottom: 20px;
    font-size: 48px;
    color: #222;
    line-height: 64px;
    font-weight: 500;">젊은 우리 전통주</p>
        <div style="margin: 0 auto 20px;
    max-width: 652px;
    font-size: 15px;font-weight: 500;
    word-break: keep-all;
    line-height: 28px;
    color: #444;
">
          프리미엄 전통주는 지역 고유의 맛과 장인의 열정이 만나 빚어낸 예술이다.<br>
          오랫동안 사랑받아온 막걸리부터 새로운 술을 찾는 이들의 기호에 맞춘<br>
          트렌디한 전통주까지 탐미해보자.</div>
      </div>
      <div style="margin: 0 auto 20px;"><br></div>
      <div>
        상세내용
      </div>
      <div> 해시태그</div>
      <br>
      <br>

      <h3 style="border-bottom: 2px solid #000; padding-top: 20px; padding-bottom: 5px; margin-bottom: 25px; font-size: 24px; font-family: helvetica, Arial, NanumGothic, sans-serif; font-weight: 700;">소개된 상품 </h3>
      <!--   상품 표시    -->
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col mb-5">
          <div class="card h-100">
            <img src="/user/images/default-profile.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">상품명</h5>
              <p class="card-text">상품 내용</p>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <img src="/user/images/default-profile.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




<script src="/user/js/popper.min.js"></script>
<script src="/user/js/bootstrap.min.js"></script>
<script src="/user/js/owl.carousel.min.js"></script>
<script src="/user/js/jquery.animateNumber.min.js"></script>
<script src="/user/js/jquery.waypoints.min.js"></script>
<script src="/user/js/jquery.fancybox.min.js"></script>
<script src="/user/js/aos.js"></script>
<script src="/user/js/moment.min.js"></script>
<script src="/user/js/daterangepicker.js"></script>

<script src="/user/js/typed.js"></script>

<script src="/user/js/custom.js"></script>

</body>
</html>