<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userDefault}">
<head>
  <title>Tour Free Bootstrap Template for Travel Agency by Untree.co</title>
</head>

<body>

<div layout:fragment="content">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Magazine</h1>
            <p class="text-white">술기로운 한 잔의 한 술 매거진</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="untree_co-section">
    <div class="container">
      <div class="row text-left justify-content-start mb-5" style="border-top: 4px solid rgb(0, 0, 0);">
        <div class="col-lg-7"><h2 class="text-left mt-3" style="font-weight: 600">2024.09</h2></div>
      </div>
      <div class="row">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="media-1">
            <a href="https://content.29cm.co.kr/brand-commentary/2024/07/19/branden" target="_blank" class="d-block mb-3"><img src="user/images/hero-slider-1.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Excellence in Travel</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" class="d-block mb-3"><img src="user/images/hero-slider-2.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Discovering Best</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" class="d-block mb-3"><img src="user/images/hero-slider-3.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">A New Moments of Life</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" target="_blank" class="d-block mb-3"><img src="user/images/hero-slider-4.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Joy To Your Journey</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="untree_co-section">
    <div class="container">
      <div class="row text-left justify-content-start mb-5" style="border-top: 4px solid rgb(0, 0, 0);">
        <div class="col-lg-7"><h2 class="text-left mt-3" style="font-weight: 600">2024. 09</h2></div>
      </div>
      <div class="row">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="media-1">
            <a href="https://content.29cm.co.kr/brand-commentary/2024/07/19/branden" target="_blank" class="d-block mb-3"><img src="user/images/hero-slider-1.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Excellence in Travel</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" class="d-block mb-3"><img src="user/images/hero-slider-2.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Discovering Best</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" class="d-block mb-3"><img src="user/images/hero-slider-3.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">A New Moments of Life</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" target="_blank" class="d-block mb-3"><img src="user/images/hero-slider-4.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Joy To Your Journey</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 col-md-6 col-lg-3">
          <div class="media-1">
            <a href="https://content.29cm.co.kr/brand-commentary/2024/07/19/branden" target="_blank" class="d-block mb-3"><img src="user/images/hero-slider-1.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Excellence in Travel</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" class="d-block mb-3"><img src="user/images/hero-slider-2.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Discovering Best</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" class="d-block mb-3"><img src="user/images/hero-slider-3.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">A New Moments of Life</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3" style="border-left: 1px solid rgb(212, 212, 212);">
          <div class="media-1">
            <a href="#" target="_blank" class="d-block mb-3"><img src="user/images/hero-slider-4.jpg" style="aspect-ratio: 16/9" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a href="#">Joy To Your Journey</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 60px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;">09</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
