<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/userDefault}">
<head>
  <title>한술 매거진</title>
</head>

<body>

<div layout:fragment="content">

  <div class="untree_co-section" style="margin-top: 10%;">
    <div class="container">
      <div class="row text-left justify-content-start mb-5" style="border-top: 4px solid rgb(0, 0, 0);">
      </div>
      <div class="row">
        <div class="col-6 col-md-6 col-lg-3" th:each="magazine : ${magazineList}">
          <div class="media-1">
            <a th:href="@{/magazine/user/}+${magazine.magazineNo}" target="_blank" class="d-block mb-3"><img th:src="${magazine.magazineImagesList[0].saveImgUrl}" alt="Image" class="img-fluid"></a>
            <div class="d-flex">
              <div>
                <h3 style="font-weight: 600; line-height: 1.3;"><a th:href="|@{/magazine/user/}${magazine.magazineNo}|" th:text="${magazine.magazineTitle}">Excellence in Travel</a></h3>
                <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; margin-top: 5px; font-size: 14px; line-height: 1.7; color: rgb(48, 48, 51); text-overflow: ellipsis; -webkit-line-clamp: 3;" th:text="${magazine.magazineSummary}">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span style=" bottom: 0px; left: 28px; font-size: 50px; font-weight: 100; line-height: 1; font-family:Source Serif Pro, serif;" th:text="|${#strings.arraySplit(magazine.publishDate, '-')[1]}.${#strings.arraySplit(magazine.publishDate, '-')[2]}|">09</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

</html>
