<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <nav class="sidebar" th:fragment="asideFragment">
            <ul>
                <li class="menu-text">나의 쇼핑정보</li>
                <li th:class="${menu eq 'viewProduct'} ? active : ''"><a href="#">최근 본 상품</a></li>
                <li th:class="${menu eq 'order'} ? active : ''"><a href="/myorder">주문내역조회</a></li>
                <li class="menu-text">나의 활동</li>
                <li th:class="${menu eq 'myinfo'} ? active : ''"><a href="/mypage/myprofile">나의 정보</a></li>
                <li th:class="${menu eq 'board'} ? active : ''"><a href="/mypage/board">나의 게시글</a></li>
                <li th:class="${menu eq 'review'} ? active : ''"><a href="/review/list">나의 리뷰</a></li>
                <li class="menu-text">고객센터</li>
                <li th:class="${menu eq 'qna'} ? active : ''"><a href="#">문의게시판</a></li>
                <li th:class="${menu eq 'pro'} ? active : ''" sec:authorize="hasRole('ROLE_MEMBER')"><a href="/mypage/proform">전문가신청</a></li>
            </ul>
        </nav>
</body>
</html>