<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer  th:fragment="footerFragment">
        <div class="site-footer">
            <div class="inner dark">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-8 mb-3 mb-md-0 mx-auto">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overlayer"></div>
        <div class="loader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </footer>
</body>
</html>