<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<header th:fragment="headerFragment" id="header">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
            <div class="site-navigation">
                <a href="index">
                    <img src="sulbao-white.png" style="width: 140px; height: 20px"/>
                </a>


                <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu">
                    <li class="active"><a href="/zzanfeeds">#짠피드</a></li>
                    <li><a href="#">매거진</a></li>
                    <li><a href="/zzanposts">술포스트</a></li>
                    <li><a href="#">쇼핑</a></li>
                    <li><a href="#">이벤트</a></li>

                    <li class="float-right" sec:authorize="isAnonymous()">
                        <ul class="site-menu-account">
                            <!--                            <li><a href="#">검색</a></li>-->
                            <li><a href="/login">로그인</a></li>
                            <li><a href="/verifyagePage">회원가입</a></li>
                            <li class="has-children">
                                <a href="#">글쓰기</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="/zzanfeeds/new" sec:authorize="isAuthenticated()">새피드 작성하기</a>
                                        <a href="/login" sec:authorize="isAnonymous()">새피드 작성하기</a>
                                    </li>
                                    <li sec:authorize="hasRole('ROLE_PRO_MEMBER')"><a href="/zzanposts/new">포스트 작성하기</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="float-right" style="margin-top: 8px" sec:authorize="isAuthenticated()">
                        <ul class="site-menu-account">
                            <li th:text="|${#authentication.getName()} 님 환영합니다. |"></li>
                            <!--                            <li><a href="#">검색</a></li>-->
                            <li><a href="/orders/cart">장바구니</a></li>
                            <!--                            <li><a href="/mypage">마이페이지</a></li>-->
                            <li><a href="/logout">로그아웃</a></li>
                            <li class="has-children">
                                <a href="#">글쓰기</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="/zzanfeeds/new" sec:authorize="isAuthenticated()">새피드 작성하기</a>
                                        <a href="/login" sec:authorize="isAnonymous()">새피드 작성하기</a>
                                    </li>
                                    <li sec:authorize="hasRole('ROLE_PRO_MEMBER')"><a href="/zzanposts/new">포스트 작성하기</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>

                <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>