.my-container {
    margin-top: 6%;
}

#thumbnail {
    display: none;
}

.cover-upload-container {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
}

.title-container {
    margin: 20px auto;
    width: 60%;
}

.input-group {
    position: relative;
}

.form-control {
    height: 60px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.25rem;
    width: calc(100% - 100px);
}

.tagify {
    width: 100%;
    max-width: 700px;
}

.tags-look .tagify__dropdown__item {
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
    color: black;
}

.tags-look .tagify__dropdown__item:hover {
    background: lightyellow;
    border-color: gold;
}

.hashtag-container {
    margin: 20px auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

.some_class_name {
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

.editor-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    width: 60%;
}

.square-box,
.editor-container {
    width: 50%;
    padding: 10px;
}

.square-box {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.upload-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #7E8EF1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editor-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.note-editor {
    width: 100%;
}

.add-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.add-box {
    aspect-ratio: 1 / 1;
    background-color: #d3d3d3;
    color: black;
    font-size: 1.2rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-top: 5%;
}

.add-box:hover {
    background-color: #c0c0c0;
}

.add-content {
    font-size: 1.2rem;
}

.submit-wrapper {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #7E8EF1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5%;
}