<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layouts/adminDefault}">
<head>
    <meta charset="UTF-8">
    <title>한술 - 회원 목록</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <div class="content">

                <div class="card card-default">
                    <div class="card-header">
                        <h2>회원목록</h2>
                    </div>

                    <div class="card-body">
                        <div class="mr-3 mb-4">
                            <form action="/product/search" method="get">
                                <table class="table table-bordered">
                                <tr>
                                    <tr>
                                        <th>회원 찾기</th>
                                        <td colspan="3">
                                            <div class="form-row">
                                                <select class="form-control col-3 ml-2" name="type" >
                                                    <option value="userId">아이디</option>
                                                    <option value="name">프로필명</option>
                                                    <option value="email">이메일</option>
                                                    <option value="number">사업자번호</option>
                                                </select>
                                                <input class="form-control col-4" name="search">
                                            </div>
                                        </td>
                                    </tr>
                                <tr>
                                    <th>
                                        회원등급
                                    </th>
                                    <td colspan="3">
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" class="custom-control-input" id="searchAll" name="productCategory" value="" checked>
                                            <label class="custom-control-label" for="searchAll">전체</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" class="custom-control-input" id="customCheck1" name="productCategory" value="일반">
                                            <label class="custom-control-label" for="customCheck1">일반</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" class="custom-control-input" id="customCheck2" name="productCategory" value="전문가">
                                            <label class="custom-control-label" for="customCheck2">전문가</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" class="custom-control-input" id="customCheck3" name="productCategory" value="전문가">
                                            <label class="custom-control-label" for="customCheck3">관리자</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" class="custom-control-input" id="customCheck4" name="productCategory" value="전문가">
                                            <label class="custom-control-label" for="customCheck4">관리자</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>활성상태</th>
                                    <td>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="availableYn" name="availableYn" value="" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="availableYn">전체</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="availableY" name="availableY" value="Y" class="custom-control-input">
                                            <label class="custom-control-label" for="availableY">활성</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="availableN" name="availableN" value="N" class="custom-control-input">
                                            <label class="custom-control-label" for="availableN">비활성</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                <div class="row mt-5 mb-5">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-sm btn-primary">조회</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/member/memberList'">초기화</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="mr-3 mb-4">
                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="changeStatusYn('available','true')">활성화</button>
                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="changeStatusYn('available','false')">비활성화</button>
<!--                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteProduct()">삭제</button>-->
                        </div>

                        <table id="productsTable" class="table table-product" style="width:100%">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="cbx_chkAll"></th>
                                <th>가입일</th>
                                <th>아이디</th>
                                <th>성별</th>
                                <th>이메일</th>
                                <th>휴대폰번호</th>
                                <th>등급</th>
                                <th>활성상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="member : ${memberList}">
                                <td><input type="checkbox" name="chk" th:value="${member.userNo}"></td>
                                <td th:text="${member.registDate}">Coach Swagger</td>
                                <td th:text="${member.userId}">Coach Swagger</td>
                                <td th:text="${member.gender}">Coach Swagger</td>
                                <td th:text="${member.email}">Coach Swagger</td>
                                <td th:text="${member.phone}">Coach Swagger</td>
                                <td th:text="${member.role}">Coach Swagger</td>
<!--                                <td th:text="${member.isAblable}">2</td>-->
                                <td th:text="${member.isAblable == true}? '활성': '비활성'">2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <script>
            //상품 체크박스
            $(document).ready(function() {
                // 상품리스트
                $("#cbx_chkAll").click(function() {
                    if($("#cbx_chkAll").is(":checked")) $("input[name=chk]").prop("checked", true);
                    else $("input[name=chk]").prop("checked", false);
                });

                $("input[name=chk]").click(function() {
                    var total = $("input[name=chk]").length;
                    var checked = $("input[name=chk]:checked").length;

                    if(total != checked) $("#cbx_chkAll").prop("checked", false);
                    else $("#cbx_chkAll").prop("checked", true);
                });

            });

            // 활성 상태 변경
            function changeStatusYn(type,available){

                let check_arr=[];
                $("input[name=chk]:checked").each(function(){
                    let chk = $(this).val();
                    check_arr.push(chk);
                });

                $.ajax({
                    url: "/member/updateEnable",
                    data: {
                        "memberList": check_arr,
                        "type": type,
                        "available": available
                    },
                    type: "put",
                    success: function(data){
                        if(data === 'success'){
                            alert("선택하신 회원의 활성 상태가 변경되었습니다.");
                            location.reload();
                        }else{
                            alert("활성 상태변경에 실패했습니다.");
                        }
                    },error: function (error){
                        alert("활성 상태변경에 실패했습니다.");
                    }
                });
            }
        </script>
    </div>

</body>
</html>