<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>default</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/user/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/user/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/user/css/daterangepicker.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <script src="/user/js/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>

    <header th:include="~{common/fragment/user/header::headerFragment}"></header>
    <div layout:fragment="content"></div>
    <footer th:include="~{common/fragment/user/footer::footerFragment}"></footer>


    <script src="/user/js/popper.min.js"></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.animateNumber.min.js"></script>
    <script src="/user/js/jquery.waypoints.min.js"></script>
    <script src="/user/js/jquery.fancybox.min.js"></script>
    <script src="/user/js/aos.js"></script>
    <script src="/user/js/moment.min.js"></script>
    <script src="/user/js/daterangepicker.js"></script>

    <script src="/user/js/typed.js"></script>

    <script src="/user/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

</body>
</html>