<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>default</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Untree.co" name="author">
    <link href="favicon.png" rel="shortcut icon">

    <meta content="" name="description"/>
    <meta content="bootstrap, bootstrap4" name="keywords"/>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap"
          rel="stylesheet">

    <link href="/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="/user/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/user/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/user/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/user/fonts/icomoon/style.css" rel="stylesheet">
    <link href="/user/fonts/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/user/css/daterangepicker.css" rel="stylesheet">
    <link href="/user/css/aos.css" rel="stylesheet">
    <link href="/user/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

</head>
<body>

<header th:insert="~{common/fragment/user/header::headerFragment}"></header>
<div layout:fragment="content"></div>
<footer th:insert="~{common/fragment/user/footer::footerFragment}"></footer>

<script src="/user/js/popper.min.js"></script>
<script src="/user/js/bootstrap.min.js"></script>
<script src="/user/js/owl.carousel.min.js"></script>
<script src="/user/js/jquery.animateNumber.min.js"></script>
<script src="/user/js/jquery.waypoints.min.js"></script>
<script src="/user/js/jquery.fancybox.min.js"></script>
<script src="/user/js/aos.js"></script>
<script src="/user/js/moment.min.js"></script>
<script src="/user/js/daterangepicker.js"></script>

<script src="/user/js/typed.js"></script>

<script src="/user/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            lang: 'ko-KR',
            height: 150,
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 다중 이미지 처리를 위해 for문을 사용했습니다.
                    for (var i = 0; i < files.length; i++) {
                        imageUploader(files[i], this);
                    }
                }
            }
        });
    });

    function imageUploader(file, el) {
        var formData = new FormData();
        formData.append('file', file);
        formData.append('', '');

        $.ajax({
            data: formData,
            type: "POST",
            url: '/image-upload',
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data',
            success: function (data) {
                $(el).summernote('insertImage', "https://kr.object.ncloudstorage.com/sulbao-file/" + data, function ($image) {
                    $image.css('width', "50%");
                });
                // 값이 잘 넘어오는지 콘솔 확인 해보셔도됩니다.
                console.log(data);
            }
        });
    }
</script>
</body>
</html>