<!DOCTYPE html>
<html
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/userDefault}">
<head>
	<title>전통술 최저가 비교 커뮤니티! 술기로운 한 잔</title>
	<link rel="stylesheet" href="/user/css/main-style.css">
</head>

<body>
<div layout:fragment="content">
	<div class="hero">
		<div class="container">
			<div class="align-items-center">
				<div class="row row-cols-auto">
					<div class="owl-single owl-carousel dots-absolute col-lg-9">
						<div class="item" style="width: 840px;">
							<a class="media-thumb" href="#" data-fancybox="gallery">
								<div class="media-text">
									<h3>맛있는 생막걸리 곰곰</h3>
									<span class="location">전통주 고오급 탁주</span>
								</div>
								<img src="/user/images/banner-big-01.png" alt="Image" class="img-fluid">
							</a>
						</div>
						<div class="item">
							<a class="media-thumb" href="#" data-fancybox="gallery">
								<div class="media-text">
									<h3>국내 최초 대마프리미엄 막걸리 '칠위드미'</h3>
									<span class="location">마마스팜x전통주</span>
								</div>
								<img src="/user/images/banner-big-02.png" alt="Image" class="img-fluid">
							</a>
						</div>
					</div>
					<div class="owl-single owl-carousel dots-absolute col-lg-3">
						<div class="item">
							<a class="media-thumb" href="#" data-fancybox="gallery">
								<div class="media-text">
									<h3>진짜 막걸리 장인의 이야기</h3>
									<span class="location">#한술매거진 9월호</span>
								</div>
								<img src="/user/images/banner-small-01.png" alt="Image" class="img-fluid">
							</a>
						</div>
						<div class="item" style="width: 260px">
							<a class="media-thumb" href="#" data-fancybox="gallery">
								<div class="media-text">
									<h3>대운이 사진은 남아있죠</h3>
									<span class="location">유튜브:유화네고양이</span>
								</div>
								<img src="/user/images/banner-small-02.png" alt="Image" class="img-fluid">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="py-5">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<p class="mb-2 font-weight-bold" style="font-size: 20px;">지금 인기있는 #키워드</p>
						<p class="mb-4 font-weight-bold text-white-opacity" style="font-size: 16px">사람들이 최근 많이 찾아 본 검색어를 알려드릴게요.</p>
						<p class="d-flex justify-content-center">
							<a href="/zzanfeeds?tag=전통주입문자에게추천" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#전통주입문자에게추천🔰</a>
							<a href="/zzanfeeds?tag=한잔합시다" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#한잔합시다🍵</a>
							<a href="/zzanfeeds?tag=성시경탁주" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#성시경탁주🔆</a>
							<a href="/zzanfeeds?tag=전통주여행기" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#전통주여행기🚃</a>
						</p>
						<p class="d-flex justify-content-center" style="margin-top: -10px;">
							<a href="/zzanfeeds?tag=혼자먹기딱좋은술" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#혼자먹기딱좋은술</a>
							<a href="/zzanfeeds?tag=추석특선전통주" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#추석특선전통주🎊</a>
							<a href="/zzanfeeds?tag=팀장님선물용" class="btn btn-outline-colors btn-md" style="margin: 2px 6px">#팀장님선물용💐</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-zzanfeed">
		<div class="container">
			<!--	짠피드 6개	-->
			<p class="main-h3">#짠피드 📸</p>
			<div class="caption">
				<p class="text">전통주와 함께한 특별한 순간들을 확인하세요.</p>
				<a class="more" th:href="@{/zzanfeeds}" >더보기</a>
			</div>
			<div class="feed-conainer">
				<div class="main-feed-grid">
					<img class="media-thumb-zzan" alt="zzan-01" style="margin-left: -40px" src="/user/images/mainpage/main-zzan-03.png"/>
					<div class="profile-likes">
						<img class="profile-sm" src="/user/images/mainpage/profile-04.jpg"/>
						<p class="profile-author">디플로</p>
					</div>
				</div>
				<div class="main-feed-grid">
					<img class="media-thumb-zzan" alt="zzan-01" style="margin-left: -240px" src="/user/images/mainpage/main-zzan-02.jpg"/>
					<div class="profile-likes">
						<img class="profile-sm" src="/user/images/mainpage/profile-01.jpeg"/>
						<p class="profile-author">익명이</p>
					</div>
				</div>
				<div class="main-feed-grid">
					<img class="media-thumb-zzan" alt="zzan-01" style="margin-left: -20px" src="/user/images/mainpage/main-zzan-05.jpg"/>
					<div class="profile-likes">
						<img class="profile-sm" src="/user/images/mainpage/profile-02.jpg"/>
						<p class="profile-author">디플로</p>
					</div>
				</div>
				<div class="main-feed-grid">
					<img class="media-thumb-zzan" alt="zzan-01" style="margin-left: -180px" src="/user/images/mainpage/main-zzan-06.jpg"/>
					<div class="profile-likes">
						<img class="profile-sm" src="/user/images/mainpage/profile-03.jpg"/>
						<p class="profile-author">익명이</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-zzanfeed">
		<div class="container">
			<!--	짠포스트	-->
			<div class="caption">
				<p class="main-h3">술포스트에서 전문가들의 이야기를 확인해보세요. 🎨</p>
				<a class="more" th:href="@{/zzanposts}" >더보기</a>
			</div>

			<div class="feed-conainer">
				<div>
					<div class="main-feed-post">
						<img class="media-thumb-post" alt="zzan-01" style="height: 270px;" src="/user/images/mainpage/main-post-01.jpeg"/>
					</div>
					<div class="post-content">
						<p class="post-title">전통주와 추석을 즐길 수 있는 최고의 장소를 소개해요.</p>
						<div class="post-author">
								<img class="profile-sm" src="/user/images/mainpage/profile-05.jpg"/>
								<p class="profile-author">위아전통주</p>
						</div>
					</div>
				</div>

				<div>
					<div class="main-feed-post">
						<img class="media-thumb-post" style="height: 330px; margin-left: -30px; margin-top: -30px;" alt="zzan-01" src="/user/images/mainpage/main-post-04.jpg"/>
					</div>
					<div class="post-content">
						<p class="post-title">전통주와 추석을 즐길 수 있는 최고의 장소를 소개해요.</p>
						<div class="post-author">
							<img class="profile-sm" src="/user/images/mainpage/profile-01.jpeg"/>
							<p class="profile-author">익명이</p>
						</div>
					</div>
				</div>

				<div>
					<div class="main-feed-post">
						<img class="media-thumb-post" alt="zzan-01" style="height: 340px; margin-left: -50px; margin-top: -20px;" src="/user/images/mainpage/main-post-02.jpg"/>
					</div>
					<div class="post-content">
						<p class="post-title">전통주와 추석을 즐길 수 있는 최고의 장소를 소개해요.</p>
						<div class="post-author">
							<img class="profile-sm" src="/user/images/mainpage/profile-06.jpg"/>
							<p class="profile-author">감자만두</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 상품 및 매거진	-->
	<div class="untree_co-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="shopping-block col-lg-8">
					<div class="caption">
						<p class="main-h3">쇼핑하기 🛍</p>
						<a class="more" href="#">더보기</a>
					</div>
					<div class="tag-container mb-2">
						<span class="tag">
							<a href="#" class="active">#전체</a>
							<a href="#">#핫이슈</a>
							<a href="#">#막믈리에</a>
							<a href="#">#페어링</a>
							<a href="#">#추석선물추천</a>
							<a href="#">#오늘의한잔</a>
							<a href="#">#전통주린이</a>
							<a href="#">#양조장리뷰</a>
						</span>
					</div>
					<div class="product-container">
						<div class = "row product-card"  th:each=" product : ${productList}">
							<a class="col-sm-4"  th:href="@{/product/user/low/}+${product.comparisonNo}"><img style="width: 100%; height: 200px; object-fit: contain; margin-top: 15px;" th:src="${product.productImages[0].saveImgUrl}"/></a>
							<div class="col-sm-8" style="position: relative;display: table-cell;padding: 4px 18px 0 21px; vertical-align: top;">
								<div class="mt-4">
									<div style="overflow: hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;overflow-wrap:break-word;max-height: 40px;line-height: 20px;">
										<a th:href="@{/product/user/low/}+${product.comparisonNo}" style="font-weight: 700;color: black;word-break: break-all" th:text="${product.comparisonName}">상품명</a>
									</div><!-- 상품명 -->
									<div style="margin-top: 5px;line-height: 25px;">
										<strong style="display: inline-block;margin-right: 6px; font-size: 14px; font-weight: 700; line-height: 25px; color: rgb(212, 0, 34); vertical-align: top;">
									<span>
									  <span style="padding-right:4px;">최저</span>
									  <span style="margin-right: 4px;" th:text="|${#numbers.formatInteger(product.minPrice, 3, 'COMMA')}원|">
										4,100원 <!-- 가격 -->
									  </span>
									</span>
										</strong>
									</div><!-- 상품가격 -->
									<div style="margin-top: 8px;  line-height: 18px; vertical-align: top;">
										<span style="display: inline-block;color:rgb(119, 119, 119);vertical-align: top;">전통주</span>
										<span class="product-category" style="display: inline-block;color: rgb(119, 119, 119);vertical-align: top;" th:text="${product.comparisonCategory}">막걸리/탁주</span>
									</div> <!-- 상품카테고리 -->
								</div>

							</div><!-- 상품정보 -->
						</div>
					</div>
				</div>

				<div class="col-lg-4 justify-content-lg-start" style="width: 100%">
					<div class="side-banner-container">
						<div class = "magazine">
							<div class="media-1">
								<div class="flex-column">
									<div class="caption" style="display: flex !important;">
										<p class="main-h3" style="margin-bottom: 20px;">이달의 한술 🌙</p>
										<a class="more" style="margin-left: auto; font-size: 18px; font-weight: bold;" href="#">더보기</a>
									</div>
									<div class="tag-container mb-2">
										<span class="tag" style="justify-content: flex-start !important;">
											<a href="#" style="margin-right: 8px;">#월간</a>
											<a href="#" style="margin-right: 8px;">#한술히스토리</a>
											<a href="#" style="margin-right: 8px;">#라이프</a>
										</span>
									</div>
									<div>
										<a href="https://content.29cm.co.kr/brand-commentary/2024/07/19/branden" target="_blank"><img src="user/images/hero-slider-2.jpg" alt="Image" class="main-magazine-img"></a>
									</div>
									<div class="megazine-text" style="position:absolute; margin-top: -82px;">
										<div>
											<span style="font-size: 60px; font-weight: 100; font-family:Source Serif Pro, serif;">09</span>
											<span>
												<h3 style="margin-top: -50px; margin-left: 80px; font-weight: bold; font-size: 24px; font-family: 'Noto-Sans', sans-serif;">풍성한 추석을 한 잔</h3>
											</span>
										</div>
									</div>
									<div class="mt-4" style="width: 100%; justify-content: flex-start">
										<a href="#"><img style="height: 178px; object-fit: cover;" src="/user/images/mainpage/main-banner.png" alt="Image"></a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<script>
		$(function() {
			var slides = $('.slides'),
					images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: ["San Francisco."," Paris."," New Zealand.", " Maui.", " London."],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});
		})


		// const params = useParams().code;
		// console.log(params);


	</script>

</div>
</body>

</html>
