<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside th:fragment="asideFragment">
    <div class="left-sidebar sidebar-dark" id="left-sidebar">
        <div id="sidebar" class="sidebar">
            <!-- 로고 부분 -->
            <div class="app-brand">
                <a href="/main">
                    <img src="/user/images/sulbao-white.png" alt="로고" style="width: 100%; height: 36px; max-width: 200px;"/>
                </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
                <!-- sidebar menu -->
                <ul class="nav sidebar-inner" id="sidebar-menu">
                    <li th:class="${menu eq 'home'} ? active : ''">
                        <a class="sidenav-item-link" href="/main">
                            <i class="mdi mdi-home"></i>
                            <span class="nav-text">홈</span>
                        </a>
                    </li>
                    <!-- 주문 -->
                    <li class="has-sub" th:class="${menu eq 'order'} ? active : ''">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#order"
                           aria-expanded="false" aria-controls="order">
                            <i class="mdi mdi-cart"></i>
                            <span class="nav-text">주문</span> <b class="caret"></b>
                        </a>
                        <ul  class="collapse" th:classappend="${menu eq 'order'} ? 'show' : ''" id="order" data-parent="#sidebar-menu">
                            <div class="sub-menu">
                                <li th:class="${submenu eq 'option'} ? 'active' : ''">
                                    <a class="sidenav-item-link" href="/orderlist">
                                        <span class="nav-text">전체 주문 조회</span>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <!-- 상품 -->
                    <li class="has-sub" th:classappend="${menu eq 'product'} ? 'active expand' : ''">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
                           aria-expanded="false" aria-controls="charts">
                            <i class="mdi mdi-food-variant"></i>
                            <span class="nav-text">상품</span> <b class="caret"></b>
                        </a>
                        <ul  class="collapse" th:classappend="${menu eq 'product'} ? 'show' : ''" id="charts" data-parent="#sidebar-menu">
                            <div class="sub-menu">
                                <li th:class="${submenu eq 'plist'} ? 'active' : ''">
                                    <a class="sidenav-item-link" href="/product/list">
                                        <span class="nav-text">상품 목록</span>
                                    </a>
                                </li>
                                <li th:class="${submenu eq 'regist'} ? 'active' : ''">
                                    <a class="sidenav-item-link" href="/product/detail">
                                        <span class="nav-text">상품 등록</span>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <!-- 고객 -->
                    <li class="has-sub" th:if="${session.role eq 'ROLE_ADMIN'}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#users"
                           aria-expanded="false" aria-controls="users">
                            <i class="mdi mdi-account"></i>
                            <span class="nav-text">회원</span> <b class="caret"></b>
                        </a>
                        <ul  class="collapse"  id="users" data-parent="#sidebar-menu">
                            <div class="sub-menu">
                                <li class="has-sub" >
                                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#user"
                                       aria-expanded="false" aria-controls="user">
                                        <span class="nav-text">회원 관리</span> <b class="caret"></b>
                                    </a>
                                    <ul  class="collapse"  id="user">
                                        <div class="sub-menu">
                                            <li >
                                                <a href="#">회원대시보드</a>
                                            </li>
                                            <li >
                                                <a href="#">회원정보조회</a>
                                            </li>
                                            <li >
                                                <a href="#">전문가 관리</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="has-sub" >
                                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#seller"
                                       aria-expanded="false" aria-controls="seller">
                                        <span class="nav-text">입점사 관리</span> <b class="caret"></b>
                                    </a>
                                    <ul  class="collapse"  id="seller">
                                        <div class="sub-menu">
                                            <li >
                                                <a href="#">입점사 대시보드</a>
                                            </li>
                                            <li >
                                                <a href="#">입점사 정보 조회</a>
                                            </li>
                                            <li >
                                                <a href="#">판매중 입점사 조회</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <!-- 게시물 -->
                    <li class="has-sub" th:if="${session.role eq 'ROLE_ADMIN'}" th:classappend="${menu eq 'board' or menu eq 'magazine'}  ? 'active expand' : ''">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#board"
                           aria-expanded="false" aria-controls="board">
                            <i class="mdi mdi-file-document-box"></i>
                            <span class="nav-text">게시물</span> <b class="caret"></b>
                        </a>
                        <ul  class="collapse" th:classappend="${menu eq 'board' or menu eq 'magazine'} ? 'show' : ''" id="board" data-parent="#sidebar-menu">
                            <div class="sub-menu">
                                <li th:class="${submenu eq 'list'} ? 'active' : ''">
                                    <a class="sidenav-item-link" href="/board/list">
                                        <span class="nav-text">게시물 관리</span>
                                    </a>
                                </li>
                                <li class="has-sub" th:classappend="${menu eq 'magazine'}  ? 'active expand' : ''">
                                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#magazine"
                                       aria-expanded="false" aria-controls="magazine">
                                        <span class="nav-text">한 술 매거진</span> <b class="caret"></b>
                                    </a>
                                    <ul  class="collapse" th:classappend="${menu eq 'magazine'} ? 'show' : ''" id="magazine">
                                        <div class="sub-menu">
                                            <li th:class="${submenu eq 'mlist'} ? 'active' : ''">
                                                <a href="/magazine/list">매거진 목록</a>
                                            </li>
                                            <li th:class="${submenu eq 'detail'} ? 'active' : ''">
                                                <a href="/magazine/detail">매거진 등록</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
</body>
</html>