<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layouts/adminDefault}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <div class="content">
                <div class="card card-default">
                    <div class="card-header">
                        <h2> 매거진 등록 </h2>
                    </div>
                    <div class="card-body">
                        <form action="/magazine/regist" method="post" enctype="multipart/form-data" onsubmit="return checkValidate()">
                            <table class="table table-bordered">
                                <tr>
                                    <th>메인페이지 이미지</th>
                                    <td><input type="file" class="form-control-file" id="mainImage" name="magazineImages"></td>
                                </tr>
                                <tr>
                                    <th>썸네일</th>
                                    <td><input type="file" class="form-control-file" id="magazineThumbnail" name="magazineImages"></td>
                                </tr>
                                <tr>
                                    <th>상단 이미지</th>
                                    <td><input type="file" class="form-control-file" id="topImage" name="magazineImages"></td>
                                </tr>
                                <tr>
                                    <th>출간일</th>
                                    <td><input type="date" class="form-control-file" id="publishDate" name="publishDate"></td>
                                </tr>
                                <tr>
                                    <th>매거진 명</th>
                                    <td><input type="text" class="form-control" name="magazineTitle" id="magazineTitle"></td>
                                </tr>
                                <tr>
                                    <th>매거진 간략설명</th>
                                    <td><textarea class="form-control" rows="3" id="magazineSummary" name="magazineSummary"></textarea></td>
                                </tr>
                                <tr>
                                    <th>매거진내용</th>
                                    <td>
                                        <div id="summernote"></div>
                                        <input type="hidden" id="magazineContent" name="magazineContent">
                                    </td>
                                </tr>
                                <tr>
                                    <th>매거진 해시태그</th>
                                    <td><textarea class="form-control" rows="3" name="magazineTag"></textarea></td>
                                </tr>
                                <tr>
                                    <th>진열상태</th>
                                    <td>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="displayY" name="displayYn" value="Y" class="custom-control-input" >
                                            <label class="custom-control-label" for="displayY">진열함</label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline-block mr-3">
                                            <input type="radio" id="displayN" name="displayYn" value="N" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="displayN">진열안함</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="form-footer mt-6 float-right">
                                <button type="submit" class="btn btn-primary btn-pill">매거진 등록</button>
                                <button type="button" onclick="window.location.href='/magazine/list'" class="btn btn-light btn-pill">목록으로</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function checkValidate(){

                //매거진 명
                const magazineTitle = $('#magazineTitle').val();
                if(magazineTitle === ''){
                    alert('매거진 명을 입력해주세요.');
                    $('#magazineTitle').focus();
                    return false;
                }
                //매거진 짧은 설명
                const magazineSummary= $('#magazineSummary').val();
                if(magazineSummary === ''){
                    alert('매거진 설명을 입력해주세요.');
                    $('#magazineSummary').focus();
                    return false;
                }
                //매거진 내용
                const magazineContent = $('#summernote').summernote('code');
                if(magazineContent === '<p><br></p>'){
                    alert('매거진내용을 입력해주세요.');
                    return false;
                }else{
                    $('#magazineContent').val(magazineContent);
                }

                //썸네일
                const magazineThumbnail = $('#magazineThumbnail').val();
                if(magazineThumbnail === ''){
                    alert("매거진 썸네일을 등록해주세요");
                    return false;
                }

                // 상단이미지
                const topImage = $('#topImage').val();
                if(topImage === ''){
                    alert("매거진 상단이미지를 등록해주세요");
                    return false;
                }

                // 메인이미지
                const mainImage = $('#mainImage').val();
                if(mainImage === ''){
                    alert("매거진 메인페이지 이미지를 등록해주세요");
                    return false;
                }

                return true;
            }
        </script>
    </div>
</body>
</html>