<!DOCTYPE html>
<html lang="en" layout:decorate="~{common/layouts/userDefault}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>전통술 최저가 비교 커뮤니티! 술기로운 한 잔</title>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link href="/board/zzanpost/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="my-container">
        <div class="post-count" th:text="|전체 ${count}|"></div>
        <div class="post-grid" id="postGrid">
            <div class="post-item" th:each="post : ${posts}">
                <a th:href="@{|zzanposts/${post.id}|}">
                    <img alt="Post Thumbnail" class="thumbnail"
                         th:src="@{|https://kr.object.ncloudstorage.com/sulbao-file/${post.thumbnail}|}">
                    <div class="title" th:text="${post.title}"></div>
                </a>
                <div class="author" th:text="${post.userDto.profileName}"></div>
                <div class="post-meta" th:utext="'추천 수 ' + ${post.like} + '&nbsp;&nbsp; 조회 ' + ${post.hit}"></div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let page = 1;
            const postGrid = $('#postGrid');

            $(window).on('scroll', _.debounce(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                    loadMorePosts(page);
                    page++;
                }
            }, 200));

            function loadMorePosts(page) {
                $.ajax({
                    url: '/zzanposts/more',
                    type: 'GET',
                    data: {
                        page: page
                    },
                    success: function (posts) {
                        if (posts.length > 0) {
                            posts.forEach(function (post) {
                                const postHtml = `
                            <div class="post-item">
                                <a href="/zzanposts/${post.id}">
                                    <img class="thumbnail" alt="Post Thumbnail" src="https://kr.object.ncloudstorage.com/sulbao-file/${post.thumbnail}">
                                    <div class="title">${post.title}</div>
                                </a>
                                <div class="author">${post.userDto.profileName}</div>
                                <div class="post-meta">추천 수 ${post.like}&nbsp;&nbsp;조회 ${post.hit}</div>
                            </div>`;
                                postGrid.append(postHtml);
                            });
                        } else {
                            $(window).off("scroll");
                        }
                    },
                    error: function () {
                        console.log("Error loading more posts");
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>